/* Standard Columns */
.row {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.column	{ display: table-cell; }

.row > .column,
.row.one > .column	{ width: 100%; }

.row.two > .column	{ width: 50%; }

.row.three > .column	    { width: 33.33333%; }
.row.three > .column.two	{ width: 66.66667%; }

.row.four > .column	        { width: 25%; }
.row.four > .column.two	    { width: 50%; }
.row.four > .column.three	{ width: 75%; }

.row.five > .column	        { width: 20%; }
.row.five > .column.two	    { width: 40%; }
.row.five > .column.three	{ width: 60%; }
.row.five > .column.four	{ width: 80%; }

.row.six > .column	        { width: 16.66667%; }
.row.six > .column.two	    { width: 33.33333%; }
.row.six > .column.three	{ width: 50%; }
.row.six > .column.four	    { width: 66.66667%; }
.row.six > .column.five	    { width: 83.33333%; }

.row.seven > .column	    { width: 14.28571%; }
.row.seven > .column.two	{ width: 28.57143%; }
.row.seven > .column.three	{ width: 42.85714%; }
.row.seven > .column.four	{ width: 57.14286%; }
.row.seven > .column.five	{ width: 71.42857%; }
.row.seven > .column.six	{ width: 85.71429%; }

.row.eight > .column        { width: 12.5%; }
.row.eight > .column.two	{ width: 25%; }
.row.eight > .column.three	{ width: 37.5%; }
.row.eight > .column.four	{ width: 50%; }
.row.eight > .column.five	{ width: 62.5%; }
.row.eight > .column.six	{ width: 75%; }
.row.eight > .column.seven	{ width: 87.5%; }

.row.nine > .column	        { width: 11.11111%; }
.row.nine > .column.two	    { width: 22.22222%; }
.row.nine > .column.three	{ width: 33.33333%; }
.row.nine > .column.four	{ width: 44.44444%; }
.row.nine > .column.five	{ width: 55.55556%; }
.row.nine > .column.six	    { width: 66.66667%; }
.row.nine > .column.seven	{ width: 77.77778%; }
.row.nine > .column.eight	{ width: 88.88889%; }

.row.ten > .column	        { width: 10%; }
.row.ten > .column.two	    { width: 20%; }
.row.ten > .column.three	{ width: 30%; }
.row.ten > .column.four	    { width: 40%; }
.row.ten > .column.five	    { width: 50%; }
.row.ten > .column.six	    { width: 60%; }
.row.ten > .column.seven	{ width: 70%; }
.row.ten > .column.eight	{ width: 80%; }
.row.ten > .column.nine	    { width: 90%; }

.row.eleven > .column	    { width: 9.09091%; }
.row.eleven > .column.two	{ width: 18.18182%; }
.row.eleven > .column.three	{ width: 27.27273%; }
.row.eleven > .column.four	{ width: 36.36364%; }
.row.eleven > .column.five	{ width: 45.45455%; }
.row.eleven > .column.six	{ width: 54.54545%; }
.row.eleven > .column.seven	{ width: 63.63636%; }
.row.eleven > .column.eight	{ width: 72.72727%; }
.row.eleven > .column.nine	{ width: 81.81818%; }
.row.eleven > .column.ten	{ width: 90.90909%; }

.row.twelve > .column	        { width: 8.33333%; }
.row.twelve > .column.two	    { width: 16.66667%; }
.row.twelve > .column.three	    { width: 25%; }
.row.twelve > .column.four	    { width: 33.33333%; }
.row.twelve > .column.five	    { width: 41.66667%; }
.row.twelve > .column.six	    { width: 50%; }
.row.twelve > .column.seven	    { width: 58.33333%; }
.row.twelve > .column.eight	    { width: 66.66667%; }
.row.twelve > .column.nine	    { width: 75%; }
.row.twelve > .column.ten	    { width: 83.33333%; }
.row.twelve > .column.eleven    { width: 91.66667%; }

.row.thirteen > .column	        { width: 7.69231%; }
.row.thirteen > .column.two     { width: 15.38462%; }
.row.thirteen > .column.three	{ width: 23.07692%; }
.row.thirteen > .column.four	{ width: 30.76923%; }
.row.thirteen > .column.five	{ width: 38.46154%; }
.row.thirteen > .column.six	    { width: 46.15385%; }
.row.thirteen > .column.seven	{ width: 53.84615%; }
.row.thirteen > .column.eight	{ width: 61.53846%; }
.row.thirteen > .column.nine	{ width: 69.23077%; }
.row.thirteen > .column.ten	    { width: 76.92308%; }
.row.thirteen > .column.eleven	{ width: 84.61538%; }
.row.thirteen > .column.twelve	{ width: 92.30769%; }

.row.fourteen > .column	            { width: 7.14286%; }
.row.fourteen > .column.two	        { width: 14.28571%; }
.row.fourteen > .column.three	    { width: 21.42857%; }
.row.fourteen > .column.four	    { width: 28.57143%; }
.row.fourteen > .column.five	    { width: 35.71429%; }
.row.fourteen > .column.six	        { width: 42.85714%; }
.row.fourteen > .column.seven	    { width: 50%; }
.row.fourteen > .column.eight	    { width: 57.14286%; }
.row.fourteen > .column.nine	    { width: 64.28571%; }
.row.fourteen > .column.ten         { width: 71.42857%; }
.row.fourteen > .column.eleven	    { width: 78.57143%; }
.row.fourteen > .column.twelve	    { width: 85.71429%; }
.row.fourteen > .column.thirteen	{ width: 92.85714%; }

.row.fifteen > .column	        { width: 6.66667%; }
.row.fifteen > .column.two	    { width: 13.33333%; }
.row.fifteen > .column.three	{ width: 20%; }
.row.fifteen > .column.four	    { width: 26.66667%; }
.row.fifteen > .column.five	    { width: 33.33333%; }
.row.fifteen > .column.six	    { width: 40%; }
.row.fifteen > .column.seven	{ width: 46.66667%; }
.row.fifteen > .column.eight	{ width: 53.33333%; }
.row.fifteen > .column.nine	    { width: 60%; }
.row.fifteen > .column.ten	    { width: 66.66667%; }
.row.fifteen > .column.eleven	{ width: 73.33333%; }
.row.fifteen > .column.twelve	{ width: 80%; }
.row.fifteen > .column.thirteen	{ width: 86.66667%; }
.row.fifteen > .column.fourteen	{ width: 93.33333%; }

.row.sixteen > .column	        { width: 6.25%; }
.row.sixteen > .column.two	    { width: 12.5%; }
.row.sixteen > .column.three	{ width: 18.75%; }
.row.sixteen > .column.four	    { width: 25%; }
.row.sixteen > .column.five	    { width: 31.25%; }
.row.sixteen > .column.six	    { width: 37.5%; }
.row.sixteen > .column.seven	{ width: 43.75%; }
.row.sixteen > .column.eight	{ width: 50%; }
.row.sixteen > .column.nine	    { width: 56.25%; }
.row.sixteen > .column.ten      { width: 62.5%; }
.row.sixteen > .column.eleven	{ width: 68.75%; }
.row.sixteen > .column.twelve	{ width: 75%; }
.row.sixteen > .column.thirteen	{ width: 81.25%; }
.row.sixteen > .column.fourteen	{ width: 87.5%; }
.row.sixteen > .column.fifteen	{ width: 93.75%; }

/* Stack Columns*/
@media (max-width: 320px) {
    .stack-320.row,
    .stack-320.row > .column {
        display: block;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .stack-480.row,
    .stack-480.row > .column {
        display: block;
        width: 100%;
    }
}
@media (max-width: 640px) {
    .stack-640.row,
    .stack-640.row > .column {
        display: block;
        width: 100%;
    }
}